* {
    padding: 0;
    margin: 0;
}

.from_main_div {
    display: flex;
    justify-content: flex-start;
    color: white;
}

img {
    width: 140px;
    margin-top: 5%;
    margin-left: 36%;
}
body{
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
}
.login-container {
    width: 500px;
    height: 530px;
    border-radius: 23px;
    background-color: #f2f2f23d;
    margin-left: 33%;
    margin-top: 5%;
}
h2{
    margin-left: 34%;
    margin-bottom: 5%;
    margin-top: 4%;
    color: white;
    font-size: 30px;
}
.form{
    margin-left: 25%;
}
.form >label {
    font-size: 20px;
    padding: 5px 5px 5px 0px;
}
.form >input {
    height: 30px;
    width: 230px;
    border-radius: 4px;
    margin-bottom: 7%;
    border: none;
    padding: 5px;
}
.form >button {
    height: 30px;
    width: 240px;
    margin-top: 3%;
    border-radius: 4px;
    margin-bottom: 2%;
    background-color: #082674a1;
    color: white;
    border: none;
}
.form >span{
    margin-left: 14%;
    font-size: 15px;
    color: #161313;
  
}
/* button */

.buttons_links > button {
    height: 30px;
    margin-left: 2%;
    width: 150px;
    border: none;
}
.buttons_links {
    text-align: center; 
    margin-top: 20px; 
}

.buttons_links a {
    text-decoration: none;
    margin: 0 10px; 
}

.buttons_linksbtn {
    padding: 10px 20px;
    background-color:#082674a1;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8%;
    width: 160px;
    height: 50px;
    transition: background-color 0.3s;
}


.buttons_linksbtn :hover {
    background-color: #0056b3; 
}

.butt-container {
    width: 400px;
    height: 300px;
    /* border: 2px solid gray; */
    border-radius: 23px;
    background-color: #fafafa26;
    margin-left: 36%;
    margin-top: 5%;
}
.fa-brands {
    font-weight: 400;
    margin-top: 5%;
}